gym-trading-env
torch
torchvision
torchaudio
gputil
ipywidgets
jupyterlab
matplotlib
scikit-learn
python-binance
git+https://github.com/Toni-SM/skrl.git@develop
einops
patool
reformer-pytorch
sktime
sympy